
@model List<WebApplication3.Models.Entites.Ogrenci>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
@Html.ActionLink("Yeni Kişi", "Ekle", null, new { @class = "btn btn-primary" })
<br />
<br />
<table class="table">
    <tr>
        <th>No</th>
        <th>TC</th>
        <td>Ad</td>
        <td>Soyad</td>
        <td>Doğum Tarihi</td>
        <th>Doğum Yeri</th>
        <td>Not</td>

    </tr>
    @foreach (var Ogrenci in Model)
    {
        <tr>
            <td>@Ogrenci.ogr_no</td>
            <td>@Ogrenci.tc_no</td>
            <td>@Ogrenci.ad</td>
            <td>@Ogrenci.soyad</td>
            <td>@Ogrenci.dogumTarihi</td>
            <td>@Ogrenci.dogumYeri</td>
            <td>@Ogrenci.notu</td>
            <td>
                @Html.ActionLink(" Güncelle", "Guncelle", new { id = Ogrenci.ogr_id }) |
                @Html.ActionLink("Sil", "Sil", new { id = Ogrenci.ogr_id })
            </td>
        </tr>
    }
</table>